<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alien" class="net.vandeneijk.learn.Alien" scope="prototype"/>

    <bean id="laptop" class="net.vandeneijk.learn.Laptop"/>
    <bean id="human" class="net.vandeneijk.learn.Human">
        <property name="age" value="42"/>
        <property name="laptop" ref="laptop"/>
    </bean>

    <bean id="dolphin" class="net.vandeneijk.learn.Dolphin">
        <constructor-arg value="5"/>
    </bean>
</beans>